<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.momen.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".department" />
        <activity android:name=".department1" />
        <activity android:name=".medical_dep1" />
        <activity android:name=".medical2_dep1" />
        <activity android:name=".medical3_dep1" />
        <activity android:name=".medical4_dep1" />
        <activity android:name=".medical5_dep1" />
        <activity android:name=".medical6_dep1" />
        <activity android:name=".medical7_dep1" />
        <activity android:name=".medical8_dep1" />
        <activity android:name=".medical9_dep1" />
        <activity android:name=".medical10_dep1" />
        <activity android:name=".department2" />
        <activity android:name=".medical1_dep2" />
        <activity android:name=".medical2_dep2" />
        <activity android:name=".medical3_dep2" />
        <activity android:name=".medical4_dep2" />
        <activity android:name=".medical5_dep2" />
        <activity android:name=".medical6_dep2" />
        <activity android:name=".medical7_dep2" />
        <activity android:name=".medical8_dep2" />
        <activity android:name=".medical9_dep2" />
        <activity android:name=".medical10_dep2" />
        <activity android:name=".department3" />
        <activity android:name=".medical1_dep3" />
        <activity android:name=".medical2_dep3" />
        <activity android:name=".medical3_dep3" />
        <activity android:name=".medical4_dep3" />
        <activity android:name=".medical5_dep3" />
        <activity android:name=".medical6_dep3" />
        <activity android:name=".medical7_dep3" />
        <activity android:name=".medical8_dep3" />
        <activity android:name=".medical9_dep3" />
        <activity android:name=".department4" />
        <activity android:name=".meidcal1_dep4" />
        <activity android:name=".medical2_dep4" />
        <activity android:name=".medical3_dep4" />
        <activity android:name=".medical5_dep4" />
        <activity android:name=".medical4_dep4" />
        <activity android:name=".medical6_dep4" />
        <activity android:name=".medical7_dep4" />
        <activity android:name=".medical8_dep4" />
        <activity android:name=".medical9_dep4" />
        <activity android:name=".department5" />
        <activity android:name=".medical1_dep5" />
        <activity android:name=".medical2_dep5" />
        <activity android:name=".medical3_dep5" />
        <activity android:name=".medical4_dep5" />
        <activity android:name=".medical5_dep5" />
        <activity android:name=".medical6_dep5" />
        <activity android:name=".medical7_dep5" />
        <activity android:name=".medical8_dep5" />
        <activity android:name=".medical9_dep5" />
        <activity android:name=".supprot" />
        <activity android:name=".department6" />
        <activity android:name=".medical1_dep6" />
        <activity android:name=".medical2_dep6" />
        <activity android:name=".medical3_dep6" />
        <activity android:name=".medical4_dep6" />
        <activity android:name=".medical5_dep6" />
        <activity android:name=".medical6_dep6" />
        <activity android:name=".meidcal7_dep6" />
        <activity android:name=".medical8_dep6" />
        <activity android:name=".medical9_dep6" />
        <activity android:name=".department7" />
        <activity android:name=".medical1_dep7" />
        <activity android:name=".medical2_dep7" />
        <activity android:name=".medical3_dep7" />
        <activity android:name=".medical4_dep7" />
        <activity android:name=".medical6_dep7" />
        <activity android:name=".medical5_Dep7" />
        <activity android:name=".medical7_dep7" />
        <activity android:name=".medical8_dep7" />
        <activity android:name=".medical9_dep7" />
        <activity android:name=".department8" />
        <activity android:name=".medical1_dep8" />
        <activity android:name=".medical2_dep8" />
        <activity android:name=".medical3_dep8" />
        <activity android:name=".medical4_dep8" />
        <activity android:name=".medical5_dep8" />
        <activity android:name=".medical6_dep8" />
        <activity android:name=".medical7_dep8" />
        <activity android:name=".medical8_dep8" />
        <activity android:name=".medical9_dep8" />
        <activity android:name=".department9" />
        <activity android:name=".medical1_dep9" />
        <activity android:name=".medical2_dep9" />
        <activity android:name=".medical3_dep9" />
        <activity android:name=".medical4_dep9" />
        <activity android:name=".medical5_dep9" />
        <activity android:name=".medical6_dep9" />
        <activity android:name=".medical7_dep9" />
        <activity android:name=".medical8_dep9" />
        <activity android:name=".medical9_dep9" />
        <activity android:name=".department10" />
        <activity android:name=".medical1_dep10" />
        <activity android:name=".medical2_dep10" />
        <activity android:name=".medical3_dep10" />
        <activity android:name=".medical4_dep10" />
        <activity android:name=".medical5_dep10" />
        <activity android:name=".medical6_dep10" />
        <activity android:name=".medical7_dep10" />
        <activity android:name=".medical8_dep10" />
        <activity android:name=".medical9_dep10" />
        <activity android:name=".department11" />
        <activity android:name=".medical1_dep11" />
        <activity android:name=".medical2_dep11" />
        <activity android:name=".medical3_dep11" />
        <activity android:name=".medical4_dep11" />
        <activity android:name=".medical5_dep11" />
        <activity android:name=".medical6_dep11" />
        <activity android:name=".medical7_dep11" />
        <activity android:name=".medical8_dep11" />
        <activity android:name=".medical9_dep11" />
        <activity android:name=".department12" />
        <activity android:name=".medical1_dep12" />
        <activity android:name=".medical2_dep12" />
        <activity android:name=".medical3_dep12" />
        <activity android:name=".medical4_dep12" />
        <activity android:name=".medical5_dep12" />
        <activity android:name=".medical6_dep12" />
        <activity android:name=".medical7_dep12" />
        <activity android:name=".medical8_dep12" />
        <activity android:name=".medical9_dep12" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".DepartmentOfHerps" />
        <activity android:name=".department1herp" />
        <activity android:name=".herp1_dep1" />
        <activity android:name=".herp2_dep1" />
        <activity android:name=".herp3_dep1" />
        <activity android:name=".herp4_dep1" />
        <activity android:name=".herp5_dep1" />
        <activity android:name=".department2herp" />
        <activity android:name=".herp1_dep2" />
        <activity android:name=".herp2_dep2" />
        <activity android:name=".herp3_dep2" />
        <activity android:name=".herp4_dep2" />
        <activity android:name=".herp1_dep3" />
        <activity android:name=".department3herp" />
        <activity android:name=".herp2_dep3" />
        <activity android:name=".herp3_dep3" />
        <activity android:name=".herp4_dep3" />
        <activity android:name=".herp5_dep3" />
        <activity android:name=".department4herp" />
        <activity android:name=".herp1_dep4" />
        <activity android:name=".herp2_dep4" />
        <activity android:name=".herp3_dep4" />
        <activity android:name=".herp4_dep4" />
        <activity android:name=".herp5_dep4" />
        <activity android:name=".department5herp" />
        <activity android:name=".herp1_dep5" />
        <activity android:name=".herp2_dep5" />
        <activity android:name=".herp3_dep5" />
        <activity android:name=".herp4_dep5" />
        <activity android:name=".herp5_dep5" />
        <activity android:name=".department6herp" />
        <activity android:name=".herp1_dep6" />
        <activity android:name=".herp2_dep6" />
        <activity android:name=".herp3_dep6" />
        <activity android:name=".herp4_dep6" />
        <activity android:name=".herp5_dep6" />
        <activity android:name=".department7herp" />
        <activity android:name=".herp1_dep7" />
        <activity android:name=".herp2_dep7" />
        <activity android:name=".herp3_dep7" />
        <activity android:name=".herp4_dep7" />
        <activity android:name=".herp5_dep7" />
        <activity android:name=".department8herp" />
        <activity android:name=".herp1_dep8" />
        <activity android:name=".herp2_dep8" />
        <activity android:name=".herp3_dep8" />
        <activity android:name=".herp4_dep8" />
        <activity android:name=".herp5_dep8" />
        <activity android:name=".supprot_herb" />
        <activity android:name=".department9herp" />
        <activity android:name=".herp1_dep9" />
        <activity android:name=".herp2_dep9" />
        <activity android:name=".herp3_dep9" />
        <activity android:name=".herp4_dep9" />
        <activity android:name=".herp5_dep9" />
        <activity android:name=".department10herp" />
        <activity android:name=".departmenthe11herp" />
        <activity android:name=".herp1_dep11" />
        <activity android:name=".herp2_dep11" />
        <activity android:name=".herp3_dep11" />
        <activity android:name=".herp4_dep11" />
        <activity android:name=".herp5_dep11" />
        <activity android:name=".herp1_dep10" />
        <activity android:name=".herp2_dep10" />
        <activity android:name=".herp3_dep10" />
        <activity android:name=".herp4_dep10" />
        <activity android:name=".herp5_dep10" />
        <activity android:name=".department12herp" />
        <activity android:name=".herp1_dep12" />
        <activity android:name=".herp2_dep12" />
        <activity android:name=".herp3_dep12" />
        <activity android:name=".herp4_dep12" />
        <activity android:name=".herp5_dep12" />
        <activity android:name=".visit1" />
        <activity android:name=".visit2" />
        <activity android:name=".visit3" />
        <activity android:name=".visit4"></activity>
    </application>

</manifest>